.counter {
    -fx-font-size: 50;
    -fx-font-weight: bold;
}

.score {
    -fx-font-size: 100;
    -fx-font-weight: bold;
}

.light > .score {
    -fx-fill: #7A99AC;
}

.dark > .score {
    -fx-fill: #2E4D58;
}

.light {
    -fx-background-color: #BFCED6;
}

.dark {
    -fx-background-color: #A6B8C1;
}

.black {
    -fx-background-color: #2E4D58;
}

.white {
    -fx-background-color: #7A99AC;
}

.white:hover{
    -fx-background-color: #8eb0c8;
}

.light .counter {
    -fx-fill: #C3D7EE;
}

.dark .counter {
    -fx-fill: #A6B8C1;
}

